<markdown ngPreserveWhitespaces class="prose prose-invert">
# What I do

<p class="text-gradient from-teal-100 to-teal-300">3 September 2024</p>

---

_In recent years I've come to believe that achieving great things is always possible.
The single most important thing you'll need is people who are willing to walk the journey with you._

### Full Stack Engineer

Full Stack Engineer at CHECK24 in Hamburg. Working with smart and passionate people.

### Technical Content Creator

Creating programming problems focused on Alogrithms & Datastructures for
[OPPSEE (Online Programming Practice for Software Engineering Education)](https://oppsee.de/home)
at my university.

### Event Organizer

I help organizing community events from time to time. The current project is DevFest Hamburg 2024.
I've also previously built a GDSC at my university with the help of a great team. 

### Open Source
I contribute to a small extent to open source projects. Some of the repos include Nuxt, Next.js, React and Supabase.

### Student

Currently struggling with my thesis.
</markdown>
