<markdown ngPreserveWhitespaces class="prose prose-invert">
# What do I do

<p class="text-gradient from-teal-100 to-teal-300">1 April 2024</p>

---

### Full Stack Engineer

Full Stack Engineer at CHECK24 in Hamburg. Working with smart and passionate people. 

### Assistant Teacher

Giving tutorial lectures on programming courses (I and II) at my university. The subject of the courses is
Object Oriented Programming using Java.

### Google Developer Students Club Lead

My team and I've built a GDSC at our university. We are devoted to make learning technical stuff easier and fun.
That's why we organize workshops, coding challenges, hackathons, learning sessions and etc.
In recent years I've come to believe that achieving great things is always possible. The single most
important thing you'll need is people who are willing to walk the journey with you.

### Open Source

In my free time I build various Web Apps using Nuxt + Vue and Next.js + React. It's all open source and on [Github](https://github.com/s0h311).
I also contribute to open source projects. Some of the repos include Nuxt, Next.js, React and Supabase.

### Student

Currently a 3th year majoring in [_Wirtchaftsinformatik_](https://en.wikipedia.org/wiki/Business_informatics) at the
[University of Applied Sciences Hamburg](https://en.wikipedia.org/wiki/Hamburg_University_of_Applied_Sciences).  
</markdown>
