<markdown ngPreserveWhitespaces class="prose prose-invert">
# Hello

<p class="text-gradient from-teal-100 to-teal-300">1 April 2024</p>

---

My name is Soheil. I'm a [_Wirtchaftsinformatik_](https://en.wikipedia.org/wiki/Business_informatics)
student and Full Stack Engineer from Germany's most delightful city, Hamburg.

I enjoy reading books. Some of my favourites are Harari's _Sapiens_ and _Homo Deus_ and Goethe's _Faust_.
I also like running.

I'm currently devoted to Web Development with Next.js + React, Nuxt + Vue and TypeScript.
</markdown>