<markdown ngPreserveWhitespaces class="prose prose-invert">
# Hello

<p class="text-gradient from-teal-100 to-teal-300">3 September 2024</p>

---

My name is Soheil. I'm a [_Wirtchaftsinformatik_](https://en.wikipedia.org/wiki/Business_informatics)
student and Full Stack Engineer from Germany's most delightful city, Hamburg.

I enjoy reading books. Some of my favourites are Harari's _Sapiens_ and _Homo Deus_ and Goethe's _Faust_.
<br />
I also like running.

I'm currently interested in robust, expandable and simple software architecture design in web applications.
</markdown>