<nav
  class="flex items-center justify-center gap-10 rounded-3xl bg-slate-800 px-10 py-5 relative"
>
  <a class="left-10 absolute" routerLink="/">S | N</a>

  @for (link of links; track link) {
  <a
    [class]="router.url === link.path ? 'underline' : ''"
    [routerLink]="link.path"
    >{{ link.title }}</a
  >
  }

  <div class="flex gap-3 absolute right-10">
    @for (socialLink of socialLinks; track socialLink.url) {
    <a [href]="socialLink.url" target="_blank">
      <img
        [ngSrc]="socialLink.icon"
        [alt]="socialLink.alt"
        width="30"
        height="30"
        priority
      />
    </a>
    }
  </div>
</nav>
